.32_61 { 
	overflow:hidden;
}
.e32_61 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:832px;
	position:absolute;
}
.e32_62 { 
	background-color:rgba(88.00000235438347, 129.00000751018524, 87.00000241398811, 1);
	width:1280px;
	height:450px;
	position:absolute;
	left:0px;
	top:213px;
	background-image:url(../images/images_contact/rectangle_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e32_94 { 
	background-color:rgba(255, 255, 255, 1);
	width:1129px;
	height:314px;
	position:absolute;
	left:75px;
	top:259px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e32_63 { 
	color:rgba(2.000000118277967, 128.0000075697899, 144.00000661611557, 1);
	width:63px;
	height:34px;
	position:absolute;
	left:459px;
	top:118px;
	font-family:Pavanam;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e32_64 { 
	color:rgba(2.000000118277967, 128.0000075697899, 144.00000661611557, 1);
	width:98px;
	height:34px;
	position:absolute;
	left:649px;
	top:118px;
	font-family:Pavanam;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e32_65 { 
	color:rgba(2.000000118277967, 128.0000075697899, 144.00000661611557, 1);
	width:104px;
	height:34px;
	position:absolute;
	left:874px;
	top:118px;
	font-family:Pavanam;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e32_66 { 
	color:rgba(2.000000118277967, 128.0000075697899, 144.00000661611557, 1);
	width:82px;
	height:34px;
	position:absolute;
	left:1105px;
	top:118px;
	font-family:Pavanam;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e32_69 { 
	color:rgba(0, 0, 0, 1);
	width:81px;
	height:31px;
	position:absolute;
	left:131px;
	top:300px;
	font-family:Lora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e32_100 { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:31px;
	position:absolute;
	left:643px;
	top:300px;
	font-family:Lora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e32_96 { 
	color:rgba(0, 0, 0, 1);
	width:212px;
	height:28px;
	position:absolute;
	left:131px;
	top:348px;
	font-family:Lora;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e32_110 { 
	color:rgba(0, 0, 0, 1);
	width:171px;
	height:31px;
	position:absolute;
	left:131px;
	top:470px;
	font-family:Lora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e32_111 { 
	color:rgba(0, 0, 0, 1);
	width:416px;
	height:28px;
	position:absolute;
	left:131px;
	top:504px;
	font-family:Lora;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e32_101 { 
	color:rgba(0, 0, 0, 1);
	width:506px;
	height:56px;
	position:absolute;
	left:643px;
	top:348px;
	font-family:Lora;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e32_97 { 
	color:rgba(0, 0, 0, 1);
	width:134px;
	height:28px;
	position:absolute;
	left:131px;
	top:379px;
	font-family:Lora;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e32_71 { 
	background-color:rgba(88.00000235438347, 129.00000751018524, 87.00000241398811, 1);
	width:1300px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}
.e32_105 { 
	color:rgba(0, 0, 0, 1);
	width:334px;
	height:26px;
	position:absolute;
	left:72px;
	top:759px;
	font-family:Pavanam;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e32_106 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:26px;
	position:absolute;
	left:946px;
	top:759px;
	font-family:Lora;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e32_107 { 
	width:27px;
	height:27px;
	position:absolute;
	left:1133px;
	top:758px;
	background-image:url(../images/images_contact/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e90_9 { 
	width:335px;
	height:86px;
	position:absolute;
	left:43px;
	top:84px;
	background-image:url(../images/images_contact/1__logo_natprodb_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
