.57_60 { 
	overflow:hidden;
}
.e57_60 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:2490px;
	position:absolute;
}
.e57_62 { 
	color:rgba(2.000000118277967, 128.0000075697899, 144.00000661611557, 1);
	width:63px;
	height:34px;
	position:absolute;
	left:459px;
	top:118px;
	font-family:Pavanam;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e57_63 { 
	color:rgba(2.000000118277967, 128.0000075697899, 144.00000661611557, 1);
	width:98px;
	height:34px;
	position:absolute;
	left:649px;
	top:118px;
	font-family:Pavanam;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e57_64 { 
	color:rgba(2.000000118277967, 128.0000075697899, 144.00000661611557, 1);
	width:104px;
	height:34px;
	position:absolute;
	left:874px;
	top:118px;
	font-family:Pavanam;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e57_65 { 
	color:rgba(2.000000118277967, 128.0000075697899, 144.00000661611557, 1);
	width:82px;
	height:34px;
	position:absolute;
	left:1105px;
	top:118px;
	font-family:Pavanam;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e57_70 { 
	background-color:rgba(88.00000235438347, 129.00000751018524, 87.00000241398811, 1);
	width:1280px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_73 { 
	color:rgba(0, 0, 0, 1);
	width:613px;
	height:26px;
	position:absolute;
	left:85px;
	top:2410px;
	font-family:Pavanam;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e57_74 { 
	color:rgba(0, 0, 0, 1);
	width:525px;
	height:26px;
	position:absolute;
	left:959px;
	top:2410px;
	font-family:Lora;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e57_78 { /*seta*/
	width:27px;
	height:27px;
	position:absolute;
	left:1146px;
	top:2409px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e57_79 { 
	color:rgba(0, 0, 0, 1);
	width:351px;
	height:26px;
	position:absolute;
	left:85px;
	top:2410px;
	font-family:Pavanam;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e57_80 { 
	color:rgba(0, 0, 0, 1);
	width:187px;
	height:26px;
	position:absolute;
	left:959px;
	top:2410px;
	font-family:Lora;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e57_81 { /*seta*/
	width:27px;
	height:27px;
	position:absolute;
	left:1146px;
	top:2409px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e60_95 { 
	color:rgba(0, 0, 0, 1);
	width:271px;
	height:33px;
	position:absolute;
	left:40px;
	top:220px;
	font-family:Lora;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e60_96 { 
	color:rgba(0, 0, 0, 1);
	width:824px;
	height:20px;
	position:absolute;
	left:65px;
	top:271px;
	font-family:Lora;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e60_97 { 
	color:rgba(2.000000118277967, 128.0000075697899, 144.00000661611557, 1);
	width:228px;
	height:20px;
	position:absolute;
	left:65px;
	top:344px;
	font-family:Lora;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e63_99 { 
	color:rgba(0, 0, 0, 1);
	width:6px;
	height:20px;
	position:absolute;
	left:926px;
	top:344px;
	font-family:Lora;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e63_101 { 
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:20px;
	position:absolute;
	left:958px;
	top:344px;
	font-family:Lora;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e63_102 { 
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:20px;
	position:absolute;
	left:993px;
	top:344px;
	font-family:Lora;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e63_103 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:20px;
	position:absolute;
	left:1028px;
	top:344px;
	font-family:Lora;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e63_104 { 
	color:rgba(0, 0, 0, 1);
	width:19px;
	height:20px;
	position:absolute;
	left:1066px;
	top:344px;
	font-family:Lora;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e63_105 { 
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:20px;
	position:absolute;
	left:1111px;
	top:344px;
	font-family:Lora;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e63_106 { 
	transform: rotate(-1.614849591345165e-15deg);
	width:17px;
	height:0px;
	position:absolute;
	left:920px;
	top:363px;
}
.63_106 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e63_109 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:253px;
	height:308px;
	position:absolute;
	left:65px;
	top:417px;
}
.e63_113 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:253px;
	height:308px;
	position:absolute;
	left:357px;
	top:417px;
}
.e63_114 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:253px;
	height:308px;
	position:absolute;
	left:642px;
	top:417px;
}
.e63_115 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:253px;
	height:308px;
	position:absolute;
	left:934px;
	top:417px;
}
.e63_116 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:253px;
	height:308px;
	position:absolute;
	left:65px;
	top:779px;
}
.e63_117 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:253px;
	height:308px;
	position:absolute;
	left:357px;
	top:779px;
}
.e63_118 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:253px;
	height:308px;
	position:absolute;
	left:642px;
	top:779px;
}
.e63_119 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:253px;
	height:308px;
	position:absolute;
	left:934px;
	top:779px;
}
.e63_132 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:253px;
	height:308px;
	position:absolute;
	left:65px;
	top:1141px;
}
.e63_133 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:253px;
	height:308px;
	position:absolute;
	left:357px;
	top:1141px;
}
.e63_134 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:253px;
	height:308px;
	position:absolute;
	left:642px;
	top:1141px;
}
.e63_135 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:253px;
	height:308px;
	position:absolute;
	left:934px;
	top:1141px;
}
.e63_136 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:253px;
	height:308px;
	position:absolute;
	left:65px;
	top:1503px;
}
.e63_137 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:253px;
	height:308px;
	position:absolute;
	left:357px;
	top:1503px;
}
.e63_138 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:253px;
	height:308px;
	position:absolute;
	left:642px;
	top:1503px;
}
.e63_139 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:253px;
	height:308px;
	position:absolute;
	left:934px;
	top:1503px;
}
.e63_140 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:253px;
	height:308px;
	position:absolute;
	left:65px;
	top:1865px;
}
.e63_141 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:253px;
	height:308px;
	position:absolute;
	left:357px;
	top:1865px;
}
.e63_142 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:253px;
	height:308px;
	position:absolute;
	left:642px;
	top:1865px;
}
.e63_143 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:253px;
	height:308px;
	position:absolute;
	left:934px;
	top:1865px;
}
.e63_149 { 
	color:rgba(0, 0, 0, 1);
	width:6px;
	height:20px;
	position:absolute;
	left:939px;
	top:2250px;
	font-family:Lora;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e63_150 { 
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:20px;
	position:absolute;
	left:971px;
	top:2250px;
	font-family:Lora;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e63_151 { 
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:20px;
	position:absolute;
	left:1006px;
	top:2250px;
	font-family:Lora;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e63_152 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:20px;
	position:absolute;
	left:1041px;
	top:2250px;
	font-family:Lora;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e63_153 { 
	color:rgba(0, 0, 0, 1);
	width:19px;
	height:20px;
	position:absolute;
	left:1079px;
	top:2250px;
	font-family:Lora;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e63_154 { 
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:20px;
	position:absolute;
	left:1124px;
	top:2250px;
	font-family:Lora;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e63_155 { 
	transform: rotate(-1.614849591345165e-15deg);
	width:17px;
	height:0px;
	position:absolute;
	left:933px;
	top:2269px;
}
.63_155 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e90_11 { 
	width:335px;
	height:86px;
	position:absolute;
	left:43px;
	top:86px;
	background-image:url(../images/images_molecules/1__logo_natprodb_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
