.32_112 { 
	overflow:hidden;
}
.e32_112 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:832px;
	position:absolute;
}
.e32_114 { 
	color:rgba(2.000000118277967, 128.0000075697899, 144.00000661611557, 1);
	width:63px;
	height:34px;
	position:absolute;
	left:459px;
	top:118px;
	font-family:Pavanam;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e32_115 { 
	color:rgba(2.000000118277967, 128.0000075697899, 144.00000661611557, 1);
	width:98px;
	height:34px;
	position:absolute;
	left:649px;
	top:118px;
	font-family:Pavanam;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e32_116 { 
	color:rgba(2.000000118277967, 128.0000075697899, 144.00000661611557, 1);
	width:104px;
	height:34px;
	position:absolute;
	left:874px;
	top:118px;
	font-family:Pavanam;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e32_117 { 
	color:rgba(2.000000118277967, 128.0000075697899, 144.00000661611557, 1);
	width:82px;
	height:34px;
	position:absolute;
	left:1105px;
	top:118px;
	font-family:Pavanam;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e32_118 { 
	background-color:rgba(208.0000028014183, 244.0000006556511, 222.00000196695328, 1);
	width:1280px;
	height:463px;
	position:absolute;
	left:0px;
	top:227px;
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
	background-image:url(../images/images_download/rectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e32_122 { 
	background-color:rgba(88.00000235438347, 129.00000751018524, 87.00000241398811, 1);
	width:1280px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}
.e32_125 { 
	color:rgba(0, 0, 0, 1);
	width:613px;
	height:26px;
	position:absolute;
	left:60px;
	top:765px;
	font-family:Pavanam;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e32_126 { 
	color:rgba(0, 0, 0, 1);
	width:525px;
	height:26px;
	position:absolute;
	left:934px;
	top:765px;
	font-family:Lora;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e32_130 { 
	width:27px;
	height:27px;
	position:absolute;
	left:1121px;
	top:764px;
	background-image:url(../images/images_download/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e32_131 { 
	color:rgba(0, 0, 0, 1);
	width:344px;
	height:26px;
	position:absolute;
	left:60px;
	top:765px;
	font-family:Pavanam;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e32_132 { 
	color:rgba(0, 0, 0, 1);
	width:174px;
	height:26px;
	position:absolute;
	left:934px;
	top:765px;
	font-family:Lora;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e45_46 { 
	background-color:rgba(255, 255, 255, 1);
	width:616px;
	height:76px;
	position:absolute;
	left:341px;
	top:416px;
}
.e45_47 { 
	color:rgba(0, 0, 0, 1);
	width:440px;
	height:34px;
	position:absolute;
	left:380px;
	top:437px;
	font-family:Pavanam;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e45_49 { 
	width:47px;
	height:54px;
	position:absolute;
	left:884px;
	top:427px;
	background-image:url(../images/images_download/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e45_51 { 
	transform: rotate(90deg);
	width:51px;
	height:0px;
	position:absolute;
	left:858.5px;
	top:427.5px;
}
.45_51 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e90_8 { 
	width:335px;
	height:86px;
	position:absolute;
	left:43px;
	top:89px;
	background-image:url(../images/images_download/1__logo_natprodb_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
